<!doctype html>
<html lang="en">
	<head>

		<meta charset="UTF-8" />
		<meta name="author" content="Cédric Hartland" />
		<meta name="copyright" content="Cédric Hartland" />
		<meta name="robots" content="index, follow" />
		<meta name="description" content="Personal web-site" />
		<meta name="keywords" content="" />

		<title>Cédric Hartland's Web Page</title>

		<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="print" />
		<link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen,projection" />
		<link rel="index" title="" href="" />
	</head>

	<body lang="en">
		<header id="main-header">
			<nav id="main-navigation">
				<ul>
          <li><a href="index.html" title="Accueil">Accueil</a></li>
					<li class="li-distant"><a href="about.html" title="A propos">A propos</a></li>
				</ul>
			</nav>
		</header>

		<div id="main-content">
			<div class="main-content-container">
      {{{content}}}
			</div>
		</div>

		<footer><small>(c) copyright - Cédric Hartland, 2017</small></footer>

	</body>

</html>
